.fixed-action-btn style="bottom: 45px; right: 24px;" id="#{ local_assigns.fetch(:id, nil) }"
  button.btn-floating.btn-large.red.script-item-toggle data-target="#{ local_assigns.fetch(:target, nil) }"
    i.large.material-icons search
