.container
  br
  h3 Booking
  hr
  br
  br
  br
  .form-container.row
    = form_for @search, html: { id: 'searchBooking' } do |f|
      = render_form_errors(@search)
      .input-field.col.s12
        = f.text_field :city, required: true, html: { id: 'city' }
        = f.label :city, 'Місто'
      .input-field.col.s6
        = f.date_field :checkin, required: true, class: 'datepicker'
      .input-field.col.s6
        = f.date_field :checkout, required: true,  class: 'datepicker'
      .input-field.col.s12
        button#searchSubmit.btn
          span Шукати
