.container
  br
  h3.center = "Search for #{@search.city} #{date_ua(@search.checkin)} — #{date_ua(@search.checkout)}"
  hr
  br
  br
  br
  #data
  = content_tag :div, nil, id: 'searchData', data: {id: @search.id}
  = render 'shared/back_btn'
