// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input.datepicker {
  width: auto !important;
  overflow: visible;
  &::-webkit-inner-spin-button {
    display: none;
  }
  &::-webkit-calendar-picker-indicator {
    font-size: 1.2rem;
    position: relative;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    @extend .btn;
    &:hover {
      cursor: pointer;
    }
  }
}
#searchData {
  padding-top: 3px;
  position: relative;
}
.paginationjs {
  position: absolute;
  top: -4rem;
}
.pagination-menu {
  li {
    display: inline-block;
    margin: 0 1px;
    a {
      display: block;
      @extend .btn;
    }
    &.active {
      a {
        opacity: .5;
      }
    }
  }
}
